@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,400;1,500;1,600;1,900&family=Smooch+Sans:wght@100;300&display=swap");

.slider {
  width: "100%";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 250, 250);
  .theme {
    padding: 20px 50px 20px 20px;

    .name {
      font-family: "Arimo", sans-serif;
      font-weight: 900;
      font-size: 20px;

      color: rgb(106, 206, 173);
    }
    .main {
      font-family: "Arimo", sans-serif;
      font-weight: 900;
      font-size: 65px;
      line-height: 60px;
      color: black;
    }
    .body1 {
      margin-top: 20px;
      padding-top: 20px;
      font-size: small !important;
      font-weight: 100 !important;
    }
  }
  .img {
    padding: 0 50px 20px 50px;
  }
}

@media screen and (max-width: 480px) {
  .slider {
    width: "100%";
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 250, 250);
  }

  img {
    width: 99vw;
  }

  .slider .img {
    padding: 0;
  }
}
@media screen and (max-width: 366px) {
  .slider .theme {
    padding: 3px 5px 0 5px;
  }
  .slider .theme .main {
    font-family: "Arimo", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: black;
  }
}
@media screen and (max-width: 600px) {
  .slider {
    width: "100%";
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 250, 250);
  }
  .slider .img {
    padding: 0;
  }
}
@media screen and (max-width: 938px) {
  .slider .img {
    padding: 0;
  }
}
@media screen and (max-width: 616px) {
  .slider {
    width: "100%";
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 250, 250);
  }
}
